{% extends "base.html.twig" %}
{% block head %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" type="text/css">
        {% endblock %}
    {% endblock %}
    {% block body %}
        {% include "/composant/_navbar.html.twig" %}
        <div class="divImg">
            <img src="{{ asset('images/bureau.jpg') }}">
            <p id="pimg">
            Domicilier votre entreprise à Tunis
                            
        </p>
        <a id="btnimg" type="submit" href="{{path('contact')}}">
            Contactez-nous
                            
        </a>

        
        </div>
            {# <div class="divvide"></div> #}
            {# {% include 'composant/apropos.html.twig' %} #}
            {# {% include '/contact/formulaire.html.twig' %} #}
            {% include "/composant/pourquoi.html.twig" %}
            {% include "/composant/adresse.html.twig" %}
            {# <div class="divvide"></div> #}
            {# {% include '/contact/formulaire.html.twig' %}  #}
            
            
            {% include 'contact/pagecontact.html.twig' %}
        {% endblock %}
        