 
 {% extends "base.html.twig" %}
 
 {% block head %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{asset('css/tarif.css')}}" type="text/css">
{% endblock %}
{% endblock %}
 {% block body %}
 
 {% for message in app.flashes('success') %}
 <div class="alert alert-dismissible alert-success mt-4">
 {{ message }}
 </div>
 {% endfor %}
{% include '/composant/_navbar.html.twig' %}
{% include '/composant/tarif.html.twig' %}
{% include '/contact/pagecontact.html.twig' %}
{% endblock %} 
