* {
    padding: 0;
    margin: 0;
}


/***************css pour formulaire de contact**********************/

#grand-div {
    width: 100%;
    /* visibility: visible !important; */
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
    /* box-shadow: 4px 5px 8px 4px #D3D3D3; */
    height: 600px;
    margin-top: 8px;
    cursor: pointer;
    /* margin-bottom: 20px; */
    /* padding: 15px; */
    /* margin-left: 30px; */
    /* border-radius: 10px; */
    /* border: 1px solid #333; */
    /*box-shadow: 0 2px 10px -3px #D3D3D3;*/
}

#form {
    /* justify-content: center; */
    margin-left: 0;
    /* text-align: center; */
    background-color: transparent;
    width: 90%;
}

#form label {
    /* margin-left: 1px; */
    /* margin-right: 550px; */
    float: left;
}

.divformulaire {
    display: inline-block;
    width: 35%;
    /* text-align: center; */
    align-items: center;
    /* justify-content: right; */
    margin-left: 70px;
    margin-bottom: 2px;
    margin-top: 25px;
}

.divformulaire button {
    padding: 10px 20px;
    background-color: #FF4500;
    color: white;
    border: none;
    /* margin-right: 10px; */
    border-radius: 5px;
    cursor: pointer;
    display: block;
    /* margin: auto; */
}

.divformulaire label {
    /* display: block; */
    /* margin-bottom: 5px; */
    text-align: left;
}

.divformulaire input[type="text"],
.divformulaire input[type="email"],
.divformulaire textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.divformulaire textarea:focus {
    border: 1px solid #ccc;
    border-style: solid;
    box-shadow: none;
}

.divformulaire input[type="text"]:focus {
    border: 1px solid #ccc;
    border-style: solid;
    box-shadow: none;
}

.divformulaire input[type="email"]:focus {
    /* outline: grey; */
    border: 1px solid #ccc;
    border-style: solid;
    box-shadow: none;
}

.divformulaire button:hover {
    background-color: #FF4500;
    color: black;
}

.divinformations {
    width: 40%;
    float: left;
    margin-top: 50px;
    margin-left: 60px;
    background-color: transparent;
    height: 490px;
    margin-right: 80px;
    /* background-image: url('/images/cont.jpg'); */
    background-size: cover;
    border-radius: 5px;
    display: flexbox;
    flex-wrap: wrap;
    /*border: 2px solid #333;*/
}

.divinformations h1 {
    /*color: black;*/
    font-family: 'Arial' sans-serif;
    font-size: 32px;
    color: #333;
    text-align: left;
    margin-left: 40px;
    margin-top: -8px;
}

.divinformations #pinfo {
    /* background-color: #FF4500; */
    text-align: left;
}

.divinformations #pinfo:hover {
    color: #FF4500;
}

.adresseform {
    font-family: 'Arial'sans-serif;
    /* color: black;*/
    background-color: transparent;
    text-align: center;
    /* margin-left: 0px; */
    font-size: 19px;
    margin-top: 25px;
    font-style: normal;
    color: grey;
    margin-right: 40px;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.adresseform i {
    width: 55px;
    height: auto;
    padding: 5px;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
    text-align: center;
    /* background-color: #ff4400ea; */
    border-radius: 10px;
    top: 10px;
    /* border: 2px solid; */
    /* border-color: #FF4500; */
    font-size: 30px;
}

.adresseform #titre {
    text-align: left;
    /* margin-right: 200px; */
    font-size: 25px;
    color: black;
}

.telform {
    font-family: 'Arial'sans-serif;
    /* color: black;*/
    background-color: transparent;
    text-align: center;
    /* margin-left: 0px; */
    font-size: 19px;
    margin-top: 25px;
    font-style: normal;
    color: grey;
    margin-right: 40px;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.telform i {
    width: 55px;
    height: auto;
    padding: 5px;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
    text-align: center;
    /* background-color: #ff4400ea; */
    border-radius: 10px;
    top: 10px;
    /* border: 2px solid; */
    /* border-color: #FF4500; */
    font-size: 30px;
}

.telform #titre {
    text-align: left;
    font-size: 25px;
    color: black;
}

.emailform {
    font-family: 'Arial'sans-serif;
    /* color: black;*/
    background-color: transparent;
    text-align: center;
    /* margin-left: 0px; */
    font-size: 19px;
    margin-top: 25px;
    font-style: normal;
    color: grey;
    margin-right: 40px;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 10px;
}

.emailform i {
    width: 55px;
    height: auto;
    padding: 5px;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
    text-align: center;
    /* background-color: #ff4400ea; */
    border-radius: 10px;
    top: 10px;
    /* border: 2px solid; */
    border-color: #FF4500;
    font-size: 30px;
}

.emailform #titre {
    text-align: left;
    font-size: 25px;
    color: black;
}

.telform .fa-phone {
    color: #333;
}

.emailform .fa-envelope-o {
    color: #333;
}

.adresseform .fa-map-marker {
    color: #333;
}