* {
    padding: 0;
    margin: 0;
}

#logo {
    width: 11%;
    height: 90px;
    padding: 0;
    margin: 2px;
}

body {
    width: 100%;
    height: auto;
    padding: 0px;
    background-color: transparent;
}

.nav1 {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 95px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: inline;
}

li a {
    text-decoration: none;
    color: #000000;
    display: block;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal bold;
    font-size: 17px;
    margin-top: -1px;
}

li a:hover {
    color: #FF4500;
    border-bottom: #FF4500;
}

.centerNav {
    background-color: transparent;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70%;
    height: 50%;
    margin: 20px;
    padding: 10px;
    margin-top: -68px;
    margin-left: 210px;
}

button:hover {
    color: #FF4500;
    /*opacity: 0.7;*/
    /*text-shadow:1px 1px;*/
}