/*.divvide{
    width: 100%;
    background-color:transparent;
    height: 60px;
    padding:1px;
    margin-bottom:15px;
    margin-top: 10px;
}
#titre{
   margin:1px;
   padding:0;
   line-height: 0.8;
   background-color:transparent;
   text-align: center;
   width:400px;
   height: auto;
   display:block;
   
   
}
.div{
   
   box-shadow:
    inset 0 0 0.5em white,
    0 0 0.5em white;

    width:80%;
    height:450px;
    background-color:#FF4500;
   
    border-radius: 40px;
    padding-top:50px;
   margin-top: 50px;
    margin:auto;
    

 } 
 /*.prix{
   border-radius:7px;
   width:35.5%;
   height:180px;
   background-color:white ;
   margin: 20px 45px;
   padding: 30px 20px;
   position:relative;
   display:block;
   clear:left;
    
     
 }
 #h4{
    white-space:rowrap;
    word-spacing: 3px;
    text-align: center;
    color:white;
    margin-left:80px;
    padding:0;
    font-family:"Times New Roman", Times, serif;
    font-style:normal;
    font-size:15px;
    line-height:20px;
}   
 p.prixp{
    text-align: center;
    padding:15px;
    margin:auto;
    font-family:Arial;
    font-style:normal;
    font-weight:bold;
    font-size:19px;
    color:#010710;

 }
 #commandez{
     border-radius:30px;
     background-color: #FF4500;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin:auto;
     display: flex; justify-content: center;
 }
 #commandez:hover{
    color:black;
   
 }
 .divlist{
    border-radius:30px;
    width:45%;
    height:350px;
    background-color:orangered;
    margin:-250px 50px;
    padding: 15px 20px;
    position:relative;
    float:right;
    text-align: center;
    box-sizing: border-box;
    display: flex;
       
 }
 h1{text-align: center;
margin: 10px;
} */

.card {
    /* margin: 20px; */
    /* border-radius: 5px; */
    display: inline-block;
    text-align: center;
    width: 22%;
    /* margin-top: 20px; */
    /* margin-right: 10px; */
    /* margin-bottom: 20px; */
    margin: 5px;
    height: auto;
    background-color: white;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 2px 10px -3px #D8D8D8; */
    border: 3px solid white;
}

#cards {
    /* background-color: #F5F5F5; */
    height: 650px;
    text-align: center;
    width: 100%;
    position: relative;
    background-image: url('/images/CARDSS.jpg');
    background-size: cover;
    /* position: fixed; */
}

#card-title {
    margin: 2px;
    color: #0087ff;
    justify-content: center;
    font-size: 22px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-style: normal;
    font-family: 'Arial', sans-serif;
}

#card-text {
    margin: 10px;
    font-size: 15px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-style: normal;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    align-items: center;
    text-align: center
}

#btn {
    border: none;
    border-radius: 15px;
    margin: 10px;
    color: white;
    background-color: #0087ff;
}

ul.liste {
    list-style-type: none;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    display: list-item;
    margin: 0;
    align-items: center;
    align-content: center;
    text-align: center;
}

li.liliste {
    padding-left: 1px;
    color: #333;
    margin: 8px;
    display: inline-block;
    /* text-align: center; */
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 16px;
    margin-left: 15px;
    border-top: 2px solid gainsboro;
}

#hedhi {
    margin-left: 17px;
    width: 90%;
    border-top: none;
}

li.liliste::before {
    /* content: "✓"; */
    padding-right: 5px;
    color: #333;
    /* border-bottom: 1px solid green; */
    font-size: 18px;
}

h1 {
    margin-top: 15px;
    /* color: #FF4500; */
    color: #0087ff;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    /* display: none; */
}

h3 {
    margin-top: 1px;
    color: #333;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
}


/* gray loun l fou9 tarif #696969  loun l a mta3 navbar*/