{% block head %}
 {% block stylesheets %}
 
 <link rel="stylesheet" href="{{asset('css/contact.css')}}" type="text/css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 
{% endblock %}
{% endblock %}
{% block body %}
<div class="grandDiv"> 
<div class="divVide"> </div>
    <div class="sertun">
      <h1>  sertun 97 </h1>
    </div>
<div class="divVide"> </div>
    <div class="email">
<p> <i class="fa fa-envelope-o" aria-hidden="true"></i> sertun01@gmail.com </p>
    </div>
    <div class="adresse">
       <a href="#adresse"> <i class="fa fa-map-marker" aria-hidden="true"></i> 57 Av 02 Mars 2034 Ezzahra tunis  </a>
    </div>
    <div class="tel">
       <p> <i class="fa fa-phone" aria-hidden="true"></i>   (+216) 29189868 </p>
    </div>
    <div class="icon">
<i class="fa fa-facebook-official" aria-hidden="true"></i>
<i class="fa fa-instagram" aria-hidden="true"></i>
<i class="fa fa-twitter" aria-hidden="true"></i>

    </div>
<div class="divVide"> </div> 
    <div class="COPYRIGHT">
        <p> &copy; COPYRIGHT 2023 SERTUN Tous droits réservés </p> 
    </div>
    

</div>
{% endblock %}