<div class="grandDiv"> 
<div class="divVide"> </div>
    <div class="sertun">
      <h1>  SERTUN 97 </h1>
    </div>
    {% block stylesheet %}
 
    <link rel="stylesheet" href="{{asset('css/footer.css')}}" type="text/css">
    {% endblock %}
<div class="divVide"> </div>
    <div class="email">
<p id="p"> <i class="fa fa-envelope-o" aria-hidden="true"></i> sertun97@gmail.com </p>
    </div>
    <div class="adresse">
       <p id="p"> <i class="fa fa-map-marker" aria-hidden="true"></i> 57 Avenue 02 Mars 2034 Ezzahra Tunis Ben Arous </p>
    </div>
    <div class="tel">
       <p id="p"> <i class="fa fa-phone" aria-hidden="true"></i>   (+216) 29189868 </p>
       <p id="p"> <i class="fa fa-phone" aria-hidden="true"></i>   (+216) 28445130 </p>
    </div>
    <!--<div class="icon">
<a class="fa fa-facebook-official"  href="{{'https://www.facebook.com/profile.php?id=100089491821480'}}"aria-hidden="true"></a>
<a class="fa fa-instagram" href="{{'https://www.instagram.com/'}}" aria-hidden="true"></a>
<a class="fa fa-twitter"href="{{'https://twitter.com/'}}"  aria-hidden="true"></a>

    </div>-->
<div class="divVide"> </div> 
    <div class="COPYRIGHT">
        <p id="p"> &copy; COPYRIGHT 2024 SERTUN Tous droits réservés </p> 
    </div>
    

</div>