<div class="grandDiv"> 
<div class="divVide"> </div>
    <div class="sertun">
      <h1>  sertun 97 </h1>
    </div>
<div class="divVide"> </div>
    <div class="email">
<p> <i class="fa fa-envelope-o" aria-hidden="true"></i> sertun97@gmail.com </p>
    </div>
    <div class="adresse">
       <p > <i class="fa fa-map-marker" aria-hidden="true"></i> 57 Avenue 02 Mars 2034 Ezzahra tunis  </p>
    </div>
    <div class="tel">
       <p> <i class="fa fa-phone" aria-hidden="true"></i>   (+216) 29189868 </p>
       <p> <i class="fa fa-phone" aria-hidden="true"></i>   (+216) 28445130 </p>
    </div>
    <!--<div class="icon">
<a class="fa fa-facebook-official"  href="{{'https://www.facebook.com/profile.php?id=100089491821480'}}"aria-hidden="true"></a>
<a class="fa fa-instagram" href="{{'https://www.instagram.com/'}}" aria-hidden="true"></a>
<a class="fa fa-twitter"href="{{'https://twitter.com/'}}"  aria-hidden="true"></a>

    </div>-->
<div class="divVide"> </div> 
    <div class="COPYRIGHT">
        <p> &copy; COPYRIGHT 2023 SERTUN Tous droits réservés </p> 
    </div>
    

</div>