<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/propos.css') }}" type="text/css">
  </head>
  <div class="grdiv">
    <div class="divcontenu">
      <h2 class="">
        À Propos de Sertun 97
                                 
      </h2>
      <p class="par">
        Sertun 97, fondée en 2022, est une société de domiciliation
                       basée à Tunis,Ezzahra.<br>
                  Spécialisée dans la domiciliation, elle offre des services de
                 location de bureaux<br>
                 virtuels et physiques,ainsi que des prestations
                
  
        de gestion administrative et de réception<br>de courrier pour les entreprises et les professionnels 
                souhaitant
                
       
        établir une présence <br>professionnelle dans la région. 
              
      </p>
      <p class="par">
        Sertun 97 s'engage à fournir des solutions de domiciliation flexibles et adaptées <br>aux besoins spécifiques
                
        
        de ses clients, contribuant ainsi à leur réussite commerciale <br>et à leur croissance.                        
                      
              
      </p>
      <h2 class="">
        C'est quoi la domiciliation des entreprises ? 
          
      </h2>
      <p class="par">
        La domiciliation est un terme simplifié de la location.    
                    Elle est appelée aussi location partagée,
            
        <br>
        c'est à dire : un seul local est partagé
            entre plusieurs personnes ou sociétés 
          
      </p>
      <p class="par">
        Domicilier une entreprise, qu'il s'agisse d'une personne physique ou morale, consiste à lui attribuer
            
        <br>
        une adresse administrative pour son siège 
        social différente de sa localisation physique
                  .
            
        <br>
        Cette pratique est requise par divers
        organismes tels que l'administration fiscale, le registre national<br>
         des entreprises,
            
        
        la sécurité sociale et la douane,
        qui exigent une adresse distincte pour chaque<br>
           entreprise.
          
      </p>
      <p class="par">
        L'adresse que nous proposons est enregistrée et accessible auprès de ces
            différentes<br> administrations
            
      
        (fiscales, registre national des entreprises, caisse sociale, douane, etc.)<br> et figurera sur tous les documents juridiques 
            
       
        et commerciaux de la société.
          
      </p>
      <p class="par">
        Notre adresse offre un caractère professionnel en permettant la réception de courriers,<br> d'appels téléphoniques, 
            
       
        ainsi que la possibilité d'accueillir des agents d'organismes <br>administratifs tels que l'administration fiscale,
            
        
        la sécurité sociale, les huissiers, ainsi que <br>les clients et fournisseurs.
                  
          
      </p>
    </div>
  </div>
  <div style="width:100%;height:50px;"></div>
</html>
