<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="{{ asset('css/contact.css') }}" type="text/css">

</head>
<div  class=" shadow p-3 mb-5 bg-body rounded" id="h8">
<div class="divformulaire">
    <h1 class="mt-4">
        Formulaire de contact 
                                                    
                            
    </h1>
    {{ form(form) }}
    </div>
    <div  class="divinformations">
        <!--  <img src="{{ asset('images/contact.jpg') }}">-->
<h5>Rendez-nous visite :</h5>
        <div class="adresseform">
            
        <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            57 Avenue 02 Mars 2034 Ezzahra tunis  
        </p>
    </div>
        <div class="emailform">
            
            <p>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                sertun97@gmail.com 
            </p>
        </div>
        <div class="telform">
            
            <p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                (+216) 29189868 
            </p>
            <p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                (+216) 28445130 
            </p>
        </div>
        
    </div>
</div>