<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
<link rel="stylesheet" href="{{asset('css/tarif.css')}}" type="text/css">

</head>
<div style="  display: flex;height:80px;text-align: center;background-color:#333; justify-content: center;">
<h1 id="h1">Contactez-nous dès aujourd'hui pour en savoir plus sur nos tarifs flexibles et nos offres sur mesure !</h1>
</div> 
<div id="cards" >

<div style="height:20px;" > </div> 

 <div class="card">
    <div class="card-body">
<h3>Pack Domiciliation</h3>
     <h5 class="card-title" id="card-title">70 dt/HT (mois)</h5>
     <ul class="liste">
     <li class="liliste" id="hedhi">   Adresses administratives</li>
     <li class="liliste"> Domiciliation juridique, fiscale et commerciale de votre siège social</li>
     <li class="liliste">Notification par mail lors de la réception du courrier </li>
     <li class="liliste">Scan et envoie de votre courrier par email</li>
     <li class="liliste">Renvoi de votre courrier vers l'adresse de votre choix</li>
     <li class="liliste">Réception de vos appels téléphoniques et notifications</li>
     <li class="liliste"> Mise à disposition d'un espace de réunion(1 heure gratuite /mois)</li>
     
     
  </ul> 
    <a href="#" class="btn btn-primary"id="btn">Contactez-nous</a>
</div>

 </div>
 
 

</div>

